<body bgcolor="#B0C4DE">
<font size="4" color="#B8860B" face="Segoe Print"><h1 align="center"> Bem-vindo(a) ao Mercadão USP!</h1></font>

<p><p><p><p><font size="5" color="#8B795E" face="Segoe Script"><u><h2 align="center"> Índice de vendas</h2></u></font></p></p></p></p>
<p align="center"><%= link_to 'Criar nova venda', new_sale_path %></p>
<font color="#556B2F" face="Segoe Script">
<p align="center">
<table border="1" align="center" bgcolor="white">
  <tr>
    <th>Título</th>
    <th>Descrição</th>
    <th>Preço</th>
    <th>Quantidade</th>
    <th>Opções</th>  

  </tr>

 
  <% @sales.each do |sale| %>
   <tr>
      <td><%= sale.title %></td>
      <td><%= sale.description %></td>
      <td><%= sale.price %></td>
      <td><%= sale.amount %></td>
      <td><%= link_to 'Detalhes', sale_path(sale) %>
      <% if user_signed_in? && current_user.id == sale.owner_id%>
        <%= link_to 'Editar', edit_sale_path(sale) %>
        <%= link_to 'Deletar', sale_path(sale),
                      method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      <% end %>
    </tr>
    
  <% end %>
</table>
</p>
</body>