<p>
  <h1><strong><%= @sale.title %></strong></h1>
</p>
 
<p>
  <%= @sale.description %>
</p>

<p>
  <strong>Quantidade disponível:</strong> <%= @sale.amount %>
</p>

<p>
  <strong>Vendedor:</strong> <%= @sale.user %>
</p>

<p>
  Email: <%= @sale.email %>
</p>

<p>
  Contato: <%= @sale.contact %>
</p>

<%= button_to "Comprar", compra_sale_path, method: :put, amount: @sale.debit(1) %>
<%= link_to 'Voltar ao índice de anúncios', sales_path %>
| <%= link_to 'Editar', edit_sale_path(@sale) %>
| <%= link_to 'Deletar', sale_path(@sale), method: :delete, data: { confirm: 'Você tem certeza?' } %>