<p>
  <h1><strong><%= @sale.title %></strong></h1>
</p>
 
<p>
  <%= @sale.description %>
</p>

<p>
  <strong>Quantidade disponível:</strong> <%= @sale.amount %>
</p>

<p>
  <strong>Vendedor:</strong> <%= @sale.user.name %>
</p>

<p>
  Email: <%= @sale.email %>
</p>

<p>
  Contato: <%= @sale.contact %>
</p>
<% if @sale.amount > 0 then %> 
	<%= button_to "Comprar", compra_sale_path, method: :put, amount: @sale.debit(1) %>
<% else %>
	<p>
		<strong>ESGOTADO</strong>
	</p>
<% end %>

<%= link_to 'Voltar ao índice de anúncios', sales_path %>
<% if user_signed_in? && current_user.id == @sale.user.id%>
  | <%= link_to 'Editar', edit_sale_path(@sale) %>
  | <%= link_to 'Deletar', sale_path(@sale), method: :delete, data: { confirm: 'Você tem certeza?' } %>
<% end %>